@using System.Web.Optimization
@model CarFactory.Application.Seo.Dtos.SeoListDto
@{
    ViewBag.Title = "Index";
    ViewBag.PageName = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string checkState = Model != null ? (Model.WatermarkAble ? "checked" : "") : "";
}

@section PageLevelStylePlugins
{
    @Styles.Render("~/assets/global/bootstrapFileinput/css", "~/assets/global/profile/css")
}

@section BreadCrumb
{
    <li>
        <a href="javascript:void(0)">首页</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="javascript:void(0)">@ViewBag.PageName</a>
        <i class="fa fa-circle"></i>
    </li>
}

<div class="profile-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">网站SEO设置</span>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1" data-toggle="tab" aria-expanded="false">SEO设置</a>
                        </li>
                        <li class="">
                            <a href="#tab_1_2" data-toggle="tab" aria-expanded="true">首页Banner上传</a>
                        </li>
                        <li class="">
                            <a href="#tab_1_3" data-toggle="tab" aria-expanded="false">水印设置</a>
                        </li>

                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <!-- PERSONAL INFO TAB -->
                        @Html.HiddenFor(s=>s.Id)
                        <div class="tab-pane active" id="tab_1_1">
                            <form role="form" id="siteSettingForm" postUrl="/admin/seo/saveseo">
                                <div class="form-group">
                                    <label class="control-label">网站名称</label>
@*                                    <input type="text" placeholder="填写网站名称" class="form-control">*@
                                    @Html.TextBoxFor(s=>s.SiteTitle,new{placeholder= "填写网站名称",@class= "form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">网站关键词</label>
@*                                    <input type="text" placeholder="" class="form-control">*@
                                    @Html.TextBoxFor(s=>s.SiteKeywords,new{placeholder= "填写网站关键词", @class= "form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">网站描述</label>
@*                                    <input type="text" placeholder="" class="form-control">*@
                                    @Html.TextAreaFor(s=>s.SiteDescription,new{placeholder= "填写网站描述", @class= "form-control" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">ICP备案序号</label>
@*                                    <input type="text" placeholder="" class="form-control">*@
                                    @Html.TextBoxFor(s=>s.IcpNumber,new{placeholder= "填写ICP备案序号", @class= "form-control" })
                                </div>
                                <div class="margiv-top-10">
                                    <button type="submit" id="submitBtn" class="btn green">保存</button>
                                </div>
                            </form>
                        </div>
                        <!-- END PERSONAL INFO TAB -->
                        <!-- CHANGE AVATAR TAB -->
                        <div class="tab-pane " id="tab_1_2">
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod.
                            </p>
                            <form action="#" role="form">
                                <div class="form-group">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                        <div>
                                            <span class="btn default btn-file">
                                                <span class="fileinput-new"> Select image </span>
                                                <span class="fileinput-exists"> Change </span>
                                                <input type="file" name="...">
                                            </span>
                                            <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                        </div>
                                    </div>
                                    <div class="clearfix margin-top-10">
                                        <span class="label label-danger">NOTE! </span>
                                        <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                    </div>
                                </div>
                                <div class="margin-top-10">
                                    <a href="javascript:;" class="btn green"> Submit </a>
                                    <a href="javascript:;" class="btn default"> Cancel </a>
                                </div>
                            </form>
                        </div>
                        <!-- END CHANGE AVATAR TAB -->
                        <!-- CHANGE PASSWORD TAB -->
                        <div class="tab-pane" id="tab_1_3">
                            <form id="watermarkForm" postUrl="/admin/seo/savewatermark">
                                <div class="form-group">
                                    <label class="control-label">是否启用图片上传添加水印</label><br/>
                                    <input type="checkbox" id="watermarkState" class="make-switch" @checkState data-on-color="success" data-off-color="danger">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">水印名称</label>
                                    @Html.TextBoxFor(s=>s.Watermark,new{@class= "form-control",placeholder= "填写水印名称" })
                                </div>
                                <div class="margin-top-10">
                                    <button type="submit" id="saveWaterMark" class="btn green">保存设置</button>
                                </div>
                            </form>
                        </div>
                        <!-- END CHANGE PASSWORD TAB -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section PageLevelScriptsPlugins
{
    @Scripts.Render("~/assets/global/bootstrapFileinput/scripts")
}


@section PageCustomScripts
{
<script type="text/javascript">
        $(function () {
            initValidate("siteSettingForm");
            initValidate("watermarkForm");

        });


        function initValidate(formId) {
            var postUrl = $("#" + formId).attr("postUrl");
            $("#" + formId).validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                onsubmit: true,
                onfocusout: false,
                onkeyup: false,

                rules: { //规则
                    SiteTitle: {
                        required: true,
                        maxlength: 50
                    }
                },
                messages: { //验证错误信息
                    SiteTitle: {
                        required: "请输入网站名称",
                        minlength: "网站名称限制在50个字符以内"
                    }
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                submitHandler: function (form) { //通过之后回调

                    //进行ajax传值
                    var editModel = null;
                    
                    switch(formId) {
                        case "siteSettingForm":
                            editModel = {
                                Id: $('#Id').val().trim(),
                                SiteTitle: $("#SiteTitle").val().trim(),
                                SiteKeywords: $("#SiteKeywords").val().trim(),
                                SiteDescription: $('#SiteDescription').val().trim(),
                                IcpNumber: $("#IcpNumber").val().trim()
                            };
                            break;
                        case "watermarkForm":
                            if ($("#watermarkState").bootstrapSwitch('state')) {
                                var mark = $("#Watermark").val().trim();
                                if (mark.length == 0) {
                                    UIBootstrapGrowl.show('body', '开启水印后，应填写水印内容', 'danger');
                                    break;
                                }
                            }
                            editModel = {
                                Id: $('#Id').val().trim(),
                                SiteTitle: $("#Watermark").val().trim(),
                                WatermarkAble: $("#watermarkState").bootstrapSwitch('state'),
                                Watermark: $("#Watermark").val().trim()
                            };
                            break;
                    }
                    if (editModel == null) {
                        return false;
                    }

                    abp.ajax({
                        url: postUrl,
                        data: JSON.stringify(editModel)
                    }).done(function(data) {
                        //要执行的代码
                        if (data.success == true) {
                            UIBootstrapGrowl.show('body', '保存成功', 'success');
                            setTimeout(function () { location.reload() }, 2000);
                        } else {
                            UIBootstrapGrowl.show('body', '保存失败，请联系技术人员', 'warning');
                        }
                    });
                },
                invalidHandler: function(form, validator) { return false; }
            });
        }

</script>
}

