@using System.Web.Optimization
@using CarFactory.Admin.Models.Layout
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 泰禹汽车用品</title>
@*    @Scripts.Render("~/assets/app/scripts")*@
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @Styles.Render("~/assets/global/css")
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @RenderSection("PageLevelStylePlugins", false)
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    @Styles.Render("~/assets/global/theme/css")
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    @Styles.Render("~/assets/global/theme/layout")
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        @{ Html.RenderAction("PartialHeader", "Layout");}
       
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            @{
            Html.RenderPartial("_SideBar", ViewBag.UserMenu as SideBarNavViewModel);
            }
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <!-- 面包屑导航 -->
                            @RenderSection("BreadCrumb")
                            <!-- 面包屑导航 End-->
                        </ul>
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    @if (!string.IsNullOrEmpty(ViewBag.PageName))
                {
                    <h1 class="page-title"> @ViewBag.PageName</h1>
            }
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
                    @RenderBody()
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        @{
        Html.RenderPartial("_PartialFooter");
        }
        <!-- END FOOTER -->
    </div>


<!-- BEGIN CORE PLUGINS -->
@Scripts.Render("~/assets/global/scripts", "~/abp/scripts", "~/assets/global/bootstrap")
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
@Scripts.Render("~/assets/pagelevel/jqueryval", "~/assets/pagelevel/scripts")
@RenderSection("PageLevelScriptsPlugins", false)
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
@Scripts.Render("~/assets/global/theme/scripts")
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
@Scripts.Render("~/assets/global/theme/layout/scripts")
<!-- END THEME LAYOUT SCRIPTS -->
@RenderSection("PageCustomScripts",false)
<script type="text/javascript">
    function checkUploadImgValid(fileObj)
    {
        var fileVal = fileObj.name;
        var result = true;

        var fileSize = fileObj.size;
        if(fileSize>1024*1024)
        {
            UIBootstrapGrowl.show('body', '图片大小要求在1M以内', 'warning');
            return false;
        }

        if (!/\.(gif|jpg|jpeg|png|bmp|GIF|JPG|PNG)$/.test(fileVal))
        {
            result = false;
            UIBootstrapGrowl.show('body', '图片类型必须是.gif,jpeg,jpg,png,bmp中的一种', 'warning');
            return false;
        }
        return true;
    }
</script>

</body>
</html>
