<div class="nav">
    <ul>
        <li style="background: none;"><a href="/" rel="nofollow">网站首页</a></li>

        <li>@Html.ActionLink("关于我们", "Index", "About", null, new { rel = "nofollow" })</li>

        <li>@Html.ActionLink("产品展示", "Index", "About", null, new { rel = "nofollow" })</li>

@*        <li>@Html.ActionLink("新闻中心", "Index", "About", null, new { rel = "nofollow" })</li>*@
@**@
@*        <li>@Html.ActionLink("工程案例", "Index", "About", null, new { rel = "nofollow" })</li>*@
@**@
@*        <li>@Html.ActionLink("检测报告", "Index", "About", null, new { rel = "nofollow" })</li>*@

        <li>@Html.ActionLink("联系我们", "Contact", "About", null, new { rel = "nofollow" })</li>

    </ul>
</div>