@using System.Web.Optimization
@model CarFactory.Application.Company.Dtos.CompanyListDto
@{
    ViewBag.Title = "公司详情";
    ViewBag.PageName = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string introduce = (Model != null && !string.IsNullOrEmpty(Model.Introduce)) ? Server.HtmlDecode(Model.Introduce) : "";
}

@section PageLevelStylePlugins
{
    @Styles.Render("~/assets/global/bootstrapSummernote/css", "~/assets/global/profile/css")
}


@section BreadCrumb
{
    <li>
        <a href="javascript:void(0)">首页</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="javascript:void(0)">@ViewBag.Title</a>
        <i class="fa fa-circle"></i>
    </li>
}
<!-- BEGIN PROFILE CONTENT -->
<div class="profile-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">账号信息</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <!-- PERSONAL INFO TAB -->
                        <div class="tab-pane active" id="tab_1_1">
                            <form role="form" id="AddUserForm" class="editCompanyForm">
                                @Html.HiddenFor(m => m.Id)
                                <div class="form-group">
                                    <label class="control-label">公司名称</label>
                                    @Html.TextBoxFor(u => u.CompanyName, new { @class = "form-control", placeholder = "填写公司全名" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">公司联系人</label>
                                    @Html.TextBoxFor(u => u.LinkMan, new { @class = "form-control", placeholder = "填写公司联系人" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">公司手机号码</label>
                                    @Html.TextBoxFor(u => u.Phone, new { @class = "form-control", placeholder = "填写联系人手机号码，不填则留空" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">公司电话</label>
                                    @Html.TextBoxFor(u => u.Tel, new { @class = "form-control", placeholder = "填写公司电话" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">公司邮箱</label>
                                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "填写公司邮箱" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">公司地址</label>
                                    @Html.TextBoxFor(u => u.Address, new { @class = "form-control", placeholder = "填写公司地址" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">公司地理位置经度</label>
                                    @Html.TextBoxFor(u => u.Longitude, new { @class = "form-control", placeholder = "填写公司地理位置经度" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">公司地理位置纬度</label>
                                    @Html.TextBoxFor(u => u.Latitude, new { @class = "form-control", placeholder = "填写公司地理位置纬度" })
                                </div>
                                <div class="form-group">
                                    <label class="control-label">公司简介（关于我们）</label>
                                    <input type="hidden" id="editorDefaultValue" value='@introduce'>
                                    <div name="summernote" class="summernote" useMedia="0" id="summernoteNoImage"> </div>

                                </div>
                                <div class="margiv-top-10">
                                    <button type="submit" class="btn green">
                                        <i class="fa fa-check"></i> 保存
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- END PERSONAL INFO TAB -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PROFILE CONTENT -->

@section PageLevelScriptsPlugins
{
    @Scripts.Render("~/assets/global/bootstrapSummernote/scripts")
    <script src="/Content/assets/pages/scripts/components-editors.js" type="text/javascript"></script>

    <script src="/Content/assets/pages/scripts/profile.js" type="text/javascript"></script>
}

@section PageCustomScripts
{
    <script type="text/javascript">
        $(function () {
            initValidate();
            initEditorValue();

            $(".btn-success").on('click',
                function(e) {

                });


        });
        function initEditorValue() {
            $("#summernoteNoImage").summernote("code", $("#editorDefaultValue").val());
        }


        function initValidate() {
            $(".editCompanyForm").validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                onsubmit: true,
                onfocusout: false,
                onkeyup: false,

                rules: {　　　　//规则
                    CompanyName: {
                        required: true
                    },
                    Address: {
                        required: true
                    },
                    Longitude: {
                        required: true
                    },
                    Latitude: {
                        required: true
                    }
                },
                messages: {　　　　//验证错误信息
                    CompanyName: {
                        required: "未输入公司名称"
                    },
                    Address: {
                        required: "未输入公司地址"
                    },
                    Longitude: {
                        required: "未输入公司地理位置经度"
                    },
                    Latitude: {
                        required: "未输入公司地理位置纬度"
                    }
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },
                submitHandler: function (form) { //通过之后回调


                    //进行ajax传值

                    var editCompany = {
                        id: $('#Id').val(),
                        companyName: $("#CompanyName").val().trim(),
                        LinkMan: $("#LinkMan").val().trim(),
                        address: $("#Address").val().trim(),
                        longitude: $("#Longitude").val().trim(),
                        latitude: $("#Latitude").val().trim(),
                        phone: $("#Phone").val().trim(),
                        tel: $("#Tel").val().trim(),
                        email: $("#Email").val().trim(),
                        introduce: $('<div/>').text($.trim($("#summernoteNoImage").summernote("code"))).html()

                    };

                    abp.ajax({
                        url: "/admin/company/save",
                        data: JSON.stringify(editCompany)
                    }).done(function (data) {
                        //要执行的代码
                        if (data.success == true) {
                            UIBootstrapGrowl.show('body', '保存成功', 'success');
                            setTimeout(function () { location.reload() }, 2000);
                        } else {
                            UIBootstrapGrowl.show('body', '保存失败，' + data.message, 'warning');
                        }
                    });

                },
                invalidHandler: function (form, validator) { return false; }
            });
        }


    </script>
}

