@using System.Web.Optimization
@model CarFactory.Application.Report.Dtos.ReportListDto
@{
    ViewBag.Title = "Detail";
    ViewBag.PageName = Model == null ? "添加报告" : "编辑报告";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageLevelStylePlugins
{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @Styles.Render("~/assets/global/bootstrapFileinput/css", "~/assets/global/select2/css", "~/assets/global/bootstrapDatePicker/css")
    <!-- END PAGE LEVEL PLUGINS -->
}

@section BreadCrumb
{
    <li>
        <a href="javascript:void(0)">首页</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="javascript:void(0)">@ViewBag.PageName</a>
        <i class="fa fa-circle"></i>
    </li>
}


<!--BEGIN PAGE INFO-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light form-fit bordered">
            <div class="portlet-body form">
                <form class="form-horizontal form-bordered" name="reportForm" id="addReportsForm" method="post">
                    @*                    <input type="hidden" name="modelId" id="modelId" value="{{$model!=null?$model->id:0}}">*@
                    @Html.HiddenFor(r => r.Id,new {id="modelId"})
                    @Html.HiddenFor(r=>r.IsShow)
                    <div class="form-body">
                        <div class="form-group ">
                            <label class="control-label col-md-2">
                                名称
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    @*                                    <input type="text" class="form-control" id="name" name="name" value="{{$model!=null?$model->name:""}}">*@
                                    @Html.TextBoxFor(r => r.ReportName, new { @class = "form-control",id="name" })
                                </div>
                            </div>
                        </div>
                        @*                        <div class="form-group">*@
                        @*                            <label class="control-label col-md-2">*@
                        @*                                关联组编号*@
                        @*                                <span class="required"> * </span>*@
                        @*                            </label>*@
                        @*                            <div class="col-md-4">*@
                        @*                                <div class="input-icon right">*@
                        @*                                    <i class="fa"></i>*@
                        @*                                    <input type="text" class="form-control" id="relativeId" name="relativeId" value="{{$model!=null?$model->relativeId:""}}">*@
                        @*                                </div>*@
                        @*                            </div>*@
                        @*                        </div>*@
                        <div class="form-group ">
                            <label class="control-label col-md-2">
                                上传报告图片
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-10">
                                @*                                @if ($model != null &&$model->img != "")*@
                                @if (Model != null && !string.IsNullOrEmpty(Model.Img))
                                {
                                    <div class="fileinput fileinput-exists" data-provides="fileinput">
                                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 1000px; height: 750px;">
                                            <img id="oldImg" src="@Model.Img">
                                        </div>
                                        <div>
                                            <span class="btn red btn-outline btn-file">
                                                <span class="fileinput-new"> 选择图片 </span>
                                                <span class="fileinput-exists"> 修改 </span>
                                                <input type="file" name="img">
                                            </span>
                                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> 移除 </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 1000px; height: 750px;">

                                        </div>
                                        <div>
                                            <span class="btn red btn-outline btn-file">
                                                <span class="fileinput-new"> 选择图片 </span>
                                                <span class="fileinput-exists"> 修改 </span>
                                                <input type="file" name="img">
                                            </span>
                                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> 移除 </a>
                                        </div>
                                    </div>
                                }

                                <div class="clearfix margin-top-10">
                                    <span class="label label-success">NOTE!</span> Image preview only works in IE10+, FF3.6+, Safari6.0+, Chrome6.0+ and Opera11.1+. In older browsers the filename is shown instead.
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn green">
                                    <i class="fa fa-check"></i> 提交
                                </button>
                                <button type="button" class="btn default" id="btnCancel">取消</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!--END PAGE INFO-->


@section PageLevelScriptsPlugins
{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @Scripts.Render("~/assets/global/bootstrapFileinput/scripts", "~/assets/global/select2/scripts", "~/assets/global/bootstrapDatePicker/scripts")
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
@*    <script src="/Content/assets/pages/scripts/form-validation.js" type="text/javascript"></script>*@

    <!-- END PAGE LEVEL SCRIPTS -->
}
@section PageCustomScripts
{
    <script type="text/javascript">
        $(function () {

            initValidate();

            initFileInput();

            $('#btnCancel').click(function () {
                window.close();
            });
        
        })

        function initFileInput() {

        }

        function initValidate() {
            $("#addReportsForm").validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                onsubmit: true,
                onfocusout: false,
                onkeyup: false,

                rules: {　　　　//规则
                    ReportName: {
                        required: true,
                        minlength: 2
                    }
                },
                messages: {　　　　//验证错误信息
                    ReportName: {
                        required: "请输入报告名称",
                        minlength: "报告名称最小长度为2"
                    }
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                submitHandler: function (form) { //通过之后回调
                    var formData = new FormData();
                    formData.append('id', $('#modelId').val().trim());
                    formData.append('reportName', $.trim($("#name").val().trim()));
                    formData.append('isShow', $.trim($("#IsShow").val().trim()));

                    if (document.reportForm.img != null && document.reportForm.img.files != null && document.reportForm.img.files.length>0) {
                        formData.append('image', document.reportForm.img.files[0]);
                    } else {
                        if ($("#oldImg").length == 0 || $("#oldImg").attr("src").length == 0) {
                            UIBootstrapGrowl.show('body', '未选择上传的图片', 'danger');
                            return;
                        } else {
                            formData.append('img', $("#oldImg").attr("src"));
                        }
                    }


                    //进行ajax传值
                    $.ajax({
                        url: "/admin/reports/save",
                        type: "post",
                        processData: false,
                        contentType: false,
                        dataType: "json",
                        data: formData,
                        success: function (msg) {
                            //要执行的代码
                            if (msg.result.status == true) {
                                UIBootstrapGrowl.show('body', '保存成功', 'success');
                                setTimeout(function() {
                                    window.location.href = "/admin/ReportManage";
                                }, 2000);
                            }
                            else {
                                UIBootstrapGrowl.show('body', '保存失败，请联系技术人员', 'warning');
                            }
                        }
                    });
                },
                invalidHandler: function (form, validator) { return false; }
            });
        }
    </script>
}



