@using System.Web.Optimization
@using CarFactory.Application.Category.Dtos
@model CarFactory.Application.Products.Dtos.ProductListDto
@{
    ViewBag.Title = Model.Id == 0 ? "添加产品" : "编辑产品"; ;
    ViewBag.PageName = Model.Id == 0 ? "添加产品" : "编辑产品"; ;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categoryList = ViewBag.CategoryList as List<CategoryListDto>;
}


@section PageLevelStylePlugins
{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @Styles.Render("~/assets/global/bootstrapSummernote/css", "~/assets/global/bootstrapFileinput/css", "~/assets/global/select2/css", "~/assets/global/bootstrapDatePicker/css")
    <!-- END PAGE LEVEL PLUGINS -->
}



@section BreadCrumb
{
    <li>
        <a href="javascript:void(0)">首页</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="javascript:void(0)">@ViewBag.PageName</a>
        <i class="fa fa-circle"></i>
    </li>
}



<!--BEGIN PAGE INFO-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light form-fit bordered">
            <div class="portlet-body form">
                <form class="form-horizontal form-bordered" name="productForm" id="addProductForm">
                    @Html.HiddenFor(p=>p.Id)
                    @Html.HiddenFor(p=>p.IsShow)
                    <div class="form-body">
                        <div class="form-group ">
                            <label class="control-label col-md-2">
                                名称
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <i class="fa"></i>
@*                                    <input type="text" class="form-control" id="name" name="name" value="{{$model!=null?$model->name:""}}">*@
                                    @Html.TextBoxFor(p=>p.Title,new{@class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-md-2">
                                上传封面图片
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-10">
                                @if (Model != null && !string.IsNullOrEmpty(Model.Img))
                                {
                                    <div class="fileinput fileinput-exists" data-provides="fileinput">
                                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 400px; height: 300px;">
                                            <img id="oldImg" src="@Model.Img">
                                        </div>
                                        <div>
                                            <span class="btn red btn-outline btn-file">
                                                <span class="fileinput-new"> 选择图片 </span>
                                                <span class="fileinput-exists"> 修改 </span>
                                                <input type="file" name="img">
                                            </span>
                                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> 移除 </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 400px; height: 300px;">

                                        </div>
                                        <div>
                                            <span class="btn red btn-outline btn-file">
                                                <span class="fileinput-new"> 选择图片 </span>
                                                <span class="fileinput-exists"> 修改 </span>
                                                <input type="file" name="img">
                                            </span>
                                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> 移除 </a>
                                        </div>
                                    </div>
                                }

                                <div class="clearfix margin-top-10">
                                    <span class="label label-success">NOTE!</span> Image preview only works in IE10+, FF3.6+, Safari6.0+, Chrome6.0+ and Opera11.1+. In older browsers the filename is shown instead.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                所属类别
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <select class="form-control select2me" name="categoryIdSelect" id="categoryIdSelect">
                                    <option value="0">选择类别</option>
                                    @foreach (var item in categoryList)
                                    {
                                        var selectedCss = (Model != null && item.Id == Model.CategoryId) ? "selected" : "";
                                        <option value="@item.Id" @selectedCss>@item.CategoryName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group last">
                            <label class="control-label col-md-2">
                                产品详情
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <div class="col-md-10">
                                <input type="hidden" id="editorDefaultValue" value='@Html.Raw(Model.Detail)'>
                                <div name="summernote" class="summernote" useMedia="1" id="summernoteWithImage"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn green">
                                    <i class="fa fa-check"></i> 保存
                                </button>
                                <button type="button" class="btn default" id="btnCancel">取消</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!--END PAGE INFO-->


@section PageLevelScriptsPlugins
{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @Scripts.Render("~/assets/global/bootstrapSummernote/scripts"
    , "~/assets/global/bootstrapFileinput/scripts"
    , "~/assets/global/select2/scripts"
    , "~/assets/global/bootstrapDatePicker/scripts")
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/Content/assets/pages/scripts/components-editors.js" type="text/javascript"></script>
    <script src="/Content/assets/pages/scripts/form-validation.min.js" type="text/javascript"></script>

    <!-- END PAGE LEVEL SCRIPTS -->
}


@section PageCustomScripts
{
    <script type="text/javascript">
        $(function () {
            initValidate();

            initEditorValue();

            $('#btnCancel').click(function () {
                window.close();
            });
        })

        function initEditorValue() {
            $("#summernoteWithImage").summernote("code", $("#editorDefaultValue").val());
        }


        function initValidate() {
            $("#addProductForm").validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                onsubmit: true,
                onfocusout: false,
                onkeyup: false,

                rules: {　　　　//规则
                    Title: {
                        required: true
                    }
                },
                messages: {　　　　//验证错误信息
                    Title: {
                        required: "请输入产品名称"
                    }
                },
                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                submitHandler: function (form) { //通过之后回调
                    var status = $("#categoryIdSelect").val() > 0;

                    toggleError("#categoryIdSelect", status, "未选择产品分类");
                    if (!status)
                        return false;


                    status = $.trim($("#summernoteWithImage").summernote("code")).length > 0;
                    toggleError(".panel-default", status, "未填写产品详情");
                    if (!status)
                        return false;


                    var formData = new FormData();
                    formData.append('Id', $('#Id').val().trim());
                    formData.append('Title', $.trim($("#Title").val().trim()));
                    formData.append('IsShow', $.trim($("#IsShow").val().trim()));
                    formData.append('CategoryId', $("#categoryIdSelect").val()); //$('<div/>').text(value).html()
                    formData.append('Detail', $('<div/>').text($.trim($("#summernoteWithImage").summernote("code"))).html());
                    //formData.append('Detail', $.trim($("#summernoteWithImage").summernote("code")));
                    if (document.productForm.img != null && document.productForm.img.files != null && document.productForm.img.files.length > 0) {
                        if (checkUploadImgValid(document.productForm.img.files[0])) {
                            formData.append('image', document.productForm.img.files[0]);
                            status = true;
                        } else {
                            return false;
                        }
                    } else {
                        if ($("#oldImg").length == 0 || $("#oldImg").attr("src").length == 0) {
                            UIBootstrapGrowl.show('body', '未选择上传的图片', 'danger');
                            return false;
                        } else {
                            formData.append('img', $("#oldImg").attr("src"));
                        }
                    }
//                    if (!status) {
//                        UIBootstrapGrowl.show('body', '未上传产品图片', 'danger');
//                        return false;
//                    }
                        

                    

                    //进行ajax传值
                    $.ajax({
                        url: "/admin/products/save",
                        type: "post",
                        dataType: "json",
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (msg) {
                            //要执行的代码
                            if (msg.result.status == true) {
                                UIBootstrapGrowl.show('body', '保存成功', 'success');
                                setTimeout(function () {
                                    window.location.href = "/admin/productManage";
                                }, 2000);
                            }
                            else {
                                UIBootstrapGrowl.show('body', '保存失败，请联系技术人员', 'warning');
                            }
                        }
                    });
                },
                invalidHandler: function (form, validator) { return false; }
            });
        }

        function toggleError(obj,authStatus,msg,authObj)
        {
            if(authStatus){
                if(authObj!="")
                    $("#"+authObj).val(1);

                if($(obj).closest('.form-group').hasClass('has-error'))
                {
                    $(obj).closest('.form-group').removeClass('has-error');
                    $(obj).closest('.form-group').find(".help-block").remove();
                }
            }
            else {
                if(authObj!="")
                    $("#"+authObj).val(0);

                if($(obj).closest('.form-group').hasClass('has-error'))
                {
                    $(obj).closest('.form-group').find(".help-block").text(msg);
                    $(obj).closest('.form-group').find(".help-block").show();
                }
                else
                {
                    $(obj).closest('.form-group').addClass('has-error');
                    var error = $("<span>");
                    error.attr("id","verifyCode-error");
                    error.attr("class","help-block");
                    error.text(msg);
                    error.appendTo($(obj).parent());
                }
            }
        }


    </script>
}
