@model CarFactory.Web.Models.Common.PreAndNextNavModel<CarFactory.Application.Products.Dtos.ProductListDto>
    @{
        ViewBag.Title = Model.CurrentItem.Title;
        ViewBag.PageName = Model.CurrentItem.Title;
        Layout = "~/Views/Shared/_LayoutList.cshtml";
    }

    @section Navigation
    {
        @Html.ActionLink(Model.CurrentItem.Title, "Detail", "Product")
    }



    <div class="pbt">@Model.CurrentItem.Title</div>
    <div class="sj">发布时间：@Model.CurrentItem.CreationTime.ToShortDateString()</div>


<div class="js">@Html.Raw(Model.CurrentItem.Detail)</div>

<div class="pager">
    @if (Model.PreviousItem != null)
    {
        @:上一篇：
        @Html.ActionLink(Model.PreviousItem.Title.Length > 24 ? Model.PreviousItem.Title.Substring(0, 24) : Model.PreviousItem.Title, "Detail", new { id = Model.PreviousItem.Id })
    }
    &nbsp;&nbsp;
    @if (Model.NextItem != null)
    {
        @:下一篇：
        @Html.ActionLink(Model.NextItem.Title.Length > 24 ? Model.NextItem.Title.Substring(0, 24) : Model.NextItem.Title, "Detail", new { id = Model.NextItem.Id })
    }

</div>

@*    <div class="related">*@
@*        <div class="related_new">*@
@*            <div class="related_title">相关文章</div>*@
@*            <div class="related_new_title">*@
@*                <div class="related_new_title_left">标题</div>*@
@*                <div class="related_new_title_right">时间</div>*@
@*            </div>*@
@*            @foreach ($relativeModels as $model)*@
@*<div class="related_new_body">*@
@*    <div class="related_new_body_left"><a href="{{$detailModel->urlPath}}-{{$model->id}}" target="_blank">{{$model->name}}</a></div>*@
@*    <div class="related_new_body_right">{{date('Y-m-d',strtotime($model->created_at))}}</div>*@
@*</div>*@
@*            @endforeach*@
@*        </div>*@
@*    </div>*@


