@using System.Web.Optimization
@using CarFactory.Application.Category.Dtos
@using X.PagedList
@using X.PagedList.Mvc
@using CarFactory.Application.Products.Dtos
@using X.PagedList.Mvc.Common
@model X.PagedList.StaticPagedList<CarFactory.Application.Products.Dtos.ProductListDto>
@{
    CategoryListDto activeCategory = ViewBag.ActiveCategory as CategoryListDto;

    ViewBag.Title = activeCategory.CategoryName;
    ViewBag.PageName = "产品展示";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
@section styles
{
    <link rel="stylesheet" href="~/Content/css/XPagedList.css"/>
}

@section Navigation
{
    <a href="/product">@ViewBag.PageName</a> &gt; <a href="/product/@activeCategory.ShortName">@activeCategory.CategoryName</a>
}

<div class="qlswu_Reception"></div>
<div id="listContainer">
    <div class="ri_2">

        @foreach (ProductListDto dto in Model)
        {
            <div class="cp">
                <div class="chanpin1">
                    <a href="@Url.Action("Detail",new{id=@dto.Id})" title="@dto.Title" target="_blank">
                        <img src="@dto.Img" alt="@dto.Title">
                    </a>
                </div>
                <div class="chanpin2">
                    @Html.ActionLink(dto.Title, "Detail", new { id = dto.Id }, new { target = "_blank", title = dto.Title })
                </div>
            </div>
        }
    </div>
    <div style="clear:both"></div>

    <!--Pager Content-->
    <div style="text-align: center">
        @if (Model.PageCount > 1)
        {
            @Html.PagedListPager(Model, page => Url.Action("List", new { page = page }), PagedListRenderOptionsBase.Classic)
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            var categoryList = $("#categoryList  a");
            if (categoryList != null) {
                $(categoryList).each(function (index, item) {
                    var shortName = $(item).attr("id");
                    if (shortName == "@activeCategory.ShortName") {
                        $(item).css("color", "#65b542");
                    }
                });
            }
        })
    </script>
}

